.header {
  color: #b46834;
  text-align: center;
}
table {
  text-align: center;
}
td {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  text-align: center; 
  vertical-align: middle;
  background-color: #d29062;
  color: #d2c862;
}
.one:before  { 
  content: "O";
  color: blue; 
}
.two:before  { 
  content: ""; 
  color: green;
}
.three:before  { 
  content: "X";
  color: red;
}
div {
 width: 100px;
 border: 1px green solid;
}
