.header {
  color: #b46834;
  text-align: center;
  margin: 10px auto;
}
#game  {
  text-align: center;
  margin: 20px auto;
}
td {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  text-align: center; 
  vertical-align: middle;
  background-color: #d29062;
  color: #d2c862;
  border-radius: 5px;
}
div {
 width: 100px;
 border: 1px green solid;
}

#winner {
  text-align:center;
  border: none;
  
}